*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 100vh;

    background-color: black;
}

#myVideo {
    position: fixed;
    width: 100%;
    border: none;
    filter: brightness(0.15) blur(3px);
}

.header_content {
    position: fixed;
    width: 100%;
    height: 100%;
}